<div class="container">
    <h2 routerLink="/dashboard">Lista de Productos</h2>
    <a routerLink="/products/new" class="btn btn-add">Agregar Producto</a>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.nombre }}</td>
          <td>{{ product.descripcion }}</td>
          <td>{{ product.precio | currency }}</td>
          <td>
            <a [routerLink]="['/products/edit', product.id]" class="btn btn-edit">Editar</a>
            <button (click)="deleteProduct(product.id)" class="btn btn-delete">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  