<div class="container">
    <h2 routerLink="/dashboard">Lista de Usuarios</h2>
    <a routerLink="/users/new" class="btn btn-add">Agregar Usuario</a>
    
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Edad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.nombre }}</td>
          <td>{{ user.correo }}</td>
          <td>{{ user.edad }}</td>
          <td>
            <a [routerLink]="['/users/edit', user.id]" class="btn btn-edit">Editar</a>
            <button (click)="deleteUser(user.id)" class="btn btn-delete">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  